@import '../../../styles-colors.scss';

.content div {
  display: block;
  width: calc(90% - 60px);
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  font-size: 15px;
  color: $my-primary;
  background: $my-secondary;
  border-radius: 10px;
}