<div class="body">

  <div class="toolbar-top">
    <h1 class="toolbar-top-title">
      <img
        class="toolbar-top-title-image"
        [src]="imgLogo"
      >
      {{ 'APP.name' | translate }}
    </h1>

    <div
      class="menu-nav"
      (click)="showMenu = !showMenu"
    >
      <mat-icon class="menu-nav-button">{{ showMenu ? 'close' : 'menu' }}</mat-icon>
      <span class="menu-nav-breadcrumb">{{ getCurrentPage() | translate | uppercase }}</span>
    </div>

  </div>

  <div
    class="menu-nav-container"
    [ngClass]="{'animate': showMenu}"
  >
    <div class="menu-nav-controls">
      <app-link
        (click)="showMenu=!showMenu"
        *ngFor="let menuItem of menuItems"
        [setItem]="menuItem"
      ></app-link>
    </div>
  </div>

  <div class="main-container">
    <router-outlet></router-outlet>
  </div>

  <div class="toolbar-bottom">
    <span [innerHTML]="'MSG.appCredits' | translate"></span>
    <span>
      <mat-icon>copyright</mat-icon>
      <span [innerHTML]="'MSG.appRightsReserved' | translate"></span>
    </span>
  </div>
</div>
