@import '../../../../styles-colors.scss';

$var-width-gallery: 300px;
$var-height-gallery: 350px;
$var-button-size: 40px;

.gallery-title {
  display: flex;
  width: calc(100% - 10%);
  height: 50px;
  padding: 0 5%;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  color: $my-primary;
  background: $my-secondary;
  box-shadow: 0px 0px 5px $color-grey-2;
  -webkit-user-select: none;
  user-select: none;
}

.gallery-component {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax($var-width-gallery, 1fr));
  gap: 10px;


  .gallery-card {
    position: relative;
    width: auto;
    max-width: $var-width-gallery;
    height: auto;
    min-height: 400px;
    margin: 10px;
    padding: 0;
    color: $color-black;
    background: $color-white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px $color-grey-2;
    opacity: 0.8;
    transition: .5s ease;

    &:hover {
      cursor: default;
      opacity: 1;
      filter: contrast(120%);
      box-shadow: 0px 0px 10px $my-accent;
    }

    &.hide {
      display: none;
    }

    .gallery-img-carousel {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      height: auto;
      min-height: $var-height-gallery;

      img {
        display: block;
        width: 100%;
        min-width: $var-width-gallery;
        max-height: $var-height-gallery;
        margin: 0 auto;
        object-fit: cover;
        object-position: center;
        border-radius: 10px 10px 0 0;
      }

      .btn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $var-button-size;
        height: $var-button-size;
        bottom: 0;
        font-size: 25px;
        font-weight: bold;
        color: $color-black;
        background: $color-white;
        -webkit-user-select: none;
        user-select: none;
        z-index: 9999;
        cursor: pointer;

        &.left {
          left: 0;
          border-radius: 0 10px 0 0;
        }

        &.right {
          right: 0;
          border-radius: 10px 0 0 0;
        }

        &:hover {
          color: $my-accent;
        }
      }
    }

    .gallery-card-content {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 150px;
      padding: 0;
      border-radius: 0 0 10px 10px;

      .gallery-card-content-title,
      .gallery-card-content-description {
        display: block;
        width: calc(100% - 10px);
        padding: 5px;
        text-align: center;
        letter-spacing: 1px;
      }

      .gallery-card-content-title {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
      }

      .gallery-card-content-description {
        height: 100%;
        max-height: 110px;
        font-size: 12px;
        overflow: auto;
      }
    }
  }
}

// TOUCHSCREEN DEVICES
@media (hover: none) {
  .gallery-card {
    opacity: 1 !important;
    filter: contrast(120%);
  }
}