<div class="gallery-title">
  <span [innerHTML]="'PAGES.GALLERY.title' | translate"></span>
  <span
    *ngIf="showMoreLink"
    [innerHTML]="'PAGES.GALLERY.titleLinkMore' | translate"
  ></span>
</div>
<!-- TODO: https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_slideshow_self -->
<div class="gallery-component">
  <div
    *ngFor="let item of galleryItems; let idCard = index;"
    class="gallery-card"
    [ngClass]="{'hide': item.hide}"
  >
    <div class="gallery-img-carousel">
      <span
        *ngIf="shouldShowSlideButtons(idCard)"
        class="btn left"
        (click)="onClickedButtonSlide(idCard, -1)"
      >&lt;</span>
      <img [src]="getCurrentImage(item, idCard)">
      <span
        *ngIf="shouldShowSlideButtons(idCard)"
        class="btn right"
        (click)="onClickedButtonSlide(idCard, 1)"
      >&gt;</span>
    </div>

    <div class="gallery-card-content">
      <span
        class="gallery-card-content-title"
        [innerHTML]="item.title | translate"
      ></span>

      <span
        *ngIf="item.description"
        class="gallery-card-content-description"
        [innerHTML]="item.description | translate"
      ></span>
    </div>
  </div>
</div>
