// PRIMARY COLORS
$color-black: rgb(0,0,0);
$color-pink-1: rgb(255, 64, 129);
$color-pink-2: rgb(244, 67, 54);
$color-blue-1: rgb(63, 81, 181);
$color-white: rgb(255, 255, 255);
$color-white-1: rgb(250, 250, 250);
$color-white-2: rgb(176, 176, 176);
$color-brown-1: rgba(255, 64, 129, 0.25);

// THEME
$my-primary: $color-pink-1;
$my-accent: $color-blue-1;
$my-warn: $color-brown-1;